doctype html
html
    head
            
            
    body
        form(action="/main_investor_receiver" method='post')
              
                p Account to fund
                    input(type='text' name='account_to_fund')
                p The amount of funding
                    input(type='text' name='amount_of_funding')
                p PassPhase
                    input(type='text' name='password')
                p
                    input(type='submit' value="Funding")

      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <button type="submit">Sign Up</button>


